#hero{
    background: linear-gradient(rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.908)), url('src/assets/hero-bg.jpg');
    min-height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero-container h2{
    font-size: clamp(2rem, 4vw, 4rem);
}